<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width;initial-scale=1.0">
        <title>Admin Home</title>
        <link rel="stylesheet" href="/static/nav.css">
        <style>
            main{
                align-items: center;
                margin-top: 100px;
            }
            legend{
                text-align: center;
            }
            table,th,td{
                border: 2px solid blue;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <div class="navbar">
                    <a href="#">Home</a>
                    <a href="#">Quiz</a>
                    <a href="#">Summary</a>
                </div>
                <div class="down">
                    <div>
                        <input type="search" name="search" id="search" placeholder="Search for quizzes">
                    </div>
                    <div class="down2">
                    <button>Welcome Admin</button>
                </div>
                    <div class="drop">
                        <a href="#">Edit password</a>
                        <a href="{{url_for('logout')}}">Logout</a>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% with msgs=get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    {% for cat,msg in msgs %}
                        <div class="cat">{{msg}}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

            {% for sub in sub_l %}
            <table>
                <caption>{{sub['name']}}</caption>
                <tr>
                    <th>Chapter name</th>
                    <th>No. of Questions</th>
                    <th>Actions</th>
                </tr>
                {% for chap in sub['chapters'] %}
                <tr>
                    <td>{{chap['name']}}</td>
                    <td>{{chap['q_count']}}</td>
                    <td><a style="color: black;" href="{{url_for('view_quizzes',chapter_id=chap['id']) }}">View</a></td>
                </tr>
                {% endfor %}
            </table>
            <a href="{{url_for('add_chap',subject_id=sub['id']) }}">
                <button>Add New Chapter</button>
            </a>
            {% endfor %}
        </main>
        
        <footer>
            <a href="{{url_for('add_sub')}}">
            <button>Add new subject</button>
            </a>
        </footer>
    </body>
</html>