<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width;initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/static/nav.css">
        <style>
            main{
                align-items: center;
                margin-top: 100px;
            }
            legend{
                text-align: center;
            }
            table,th,td{
                border: 2px solid blue;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <div class="navbar">
                    <a href="#">Home</a>
                    <a href="#">Scores</a>
                    <a href="#">Summary</a>
                </div>
                <div class="down">
                    <div>
                        <input type="search" name="search" id="search" placeholder="Search for quizzes">
                    </div>
                    <div class="down2">
                    <button>Welcome {{name}}</button>
                </div>
                    <div class="drop">
                        <a href="#">Edit profile</a>
                        <a href="{{url_for('logout')}}">Logout</a>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <h1>Quizzes for {{chap_name}}</h1>
            {% with msgs =get_flashed_messages(with_categories=true) %}
                {% if msgs %}   
                    {% for cat,msg in msgs %}
                    <div class="cat">{{msg}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Quiz title</th>
                    <th>Date of Quiz</th>
                    <th>Time Duration</th>
                    <th>Number of Questions</th>
                    <th>Actions</th>
                </tr>
                {% for quiz in avail_quiz %}
                <tr>
                    <td>{{quiz['id']}}</td>
                    <td>{{quiz['quiz_name']}}</td>
                    <td>{{quiz['date_of_quiz']}}</td>
                    <td>{{quiz['time_duration']}} minutes</td>
                    <td>{{quiz['q_count']}}</td>
                    <td><a style="color: black;" href="{{url_for('attend_quiz',quiz_id=quiz['id'],chapter_id=chapter_id )}}">Attend</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <a style="color: black;" href="{{ url_for('user_home') }}">Go Back</a>
        </main>
    </body>
</html>