<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width;initial-scale=1.0">
        <title>View Questions</title>
        <link rel="stylesheet" href="/static/nav.css">
        <style>
            main{
                align-items: center;
                margin-top: 100px;
            }
            legend{
                text-align: center;
            }
            table,th,td{
                border: 2px solid blue;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <div class="navbar">
                    <a href="#">Home</a>
                    <a href="#">Quiz</a>
                    <a href="#">Summary</a>
                </div>
                <div class="down">
                    <div>
                        <input type="search" name="search" id="search" placeholder="Search for quizzes">
                    </div>
                    <div class="down2">
                    <button>Welcome Admin</button>
                </div>
                    <div class="drop">
                        <a href="#">Edit password</a>
                        <a href="{{url_for('logout')}}">Logout</a>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <h1>Questions for {{quiz_name}}</h1>
            {% with msgs =get_flashed_messages(with_categories=true) %}
                {% if msgs %}   
                    {% for cat,msg in msgs %}
                    <div class="cat">{{msg}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Quiz title</th>
                    <th>Option 1</th>
                    <th>Option 2</th>
                    <th>Option 3</th>
                    <th>Option 4</th>
                    <th>Correct option</th>
                    <th>Actions</th>
                </tr>
                {% for qsn in avail_qsn %}
                <tr>
                    <td>{{qsn['id']}}</td>
                    <td>{{qsn['question_title']}}</td>
                    <td>{{qsn['option1']}}</td>
                    <td>{{qsn['option2']}}</td>
                    <td>{{qsn['option3']}}</td>
                    <td>{{qsn['option4']}}</td>
                    <td>{{qsn['correct_option']}}</td>
                    <td><a style="color: black;" href="{{url_for('edit_qsn',quiz_id=quiz_id,chapter_id=chapter_id,qsn_id=qsn['id'] )}}">Edit</a></td>
                    <!-- also add for delete button here -->
                    <!-- <a href="" onclick="return confirm('Are you sure?')">Delete</a> -->
                </tr>
                {% endfor %}
            </table>
            <a style="color: black;" href="{{ url_for('add_qsn',chapter_id=chapter_id,quiz_id=quiz_id) }}">Add a question</a>
        </main>
    </body>
</html>